body {
    background-color: #282a36; /* Background color */
    color: #f8f8f2; /* Default text color */
    font-family: Arial, sans-serif;
}
hr {
    border: none;
    border-top: 2px solid #6272a4; /* Line color */
    margin: 20px 0;
}
.title {
    font-size: 100px; /* Set your desired font size */
    text-align: center;
    font-weight: bold;
}
.exercise {
    font-size: 75px; /* Set your desired font size */
    text-align: center;
    cursor: "pointer";
}
.small {
    font-size: 20px; /* Set your desired font size */
    text-align: center;
}
.box {
    width: 20vw; /* Responsive width */
    height: 5vw; /* Responsive height */
    max-width: 100px; /* Maximum width */
    max-height: 30px; /* Maximum height */
    background-color: #f8f8f2; /* Default text color */
    margin: 5px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border: 1px solid #6272a4;
}
.buttonHolder {
    text-align: center;
}
.button {
    font-size: 75px; /* Set your desired font size */
    cursor: pointer;
}